* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans TC', sans-serif;
}

.banner {
  /* height: 100vh; */
  height: 500px;
  background-color: #ccc;
  background: 
    linear-gradient(115deg, #7df 50%, transparent 50%) center center / 100% 100%,
    url("https://picsum.photos/1200/600?random=10") right center / auto 100%;
  /* background-size: cover; */
}

.container {
  /* width: 1200px; */
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.banner_txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* 
    次軸現在是橫的
    預設會填滿整個寬度
    所以才需要設為 flex-start
  */
  align-items: flex-start;
}

.banner_txt h1 {
  font-size: 80px;
  border-bottom: 1px solid #333;
  font-weight: 900;
  padding-bottom: 0.3rem;
  margin-bottom: 0.3rem;
}

.banner_txt h1 small {
  display: block;
  font-size: 53px;
  font-weight: 700;
}

.banner_txt h2 {
  font-size: 50px;
  font-weight: 700;
}

.banner_txt p {
  font-size: 20px;
  font-weight: 300;
}
